### 라이브러리 로드

### 한글 설정

### 데이터 프레임 생성

            영화  개봉 연도  관객 수    평점
0           명량   2014  1761  8.88
1         극한직업   2019  1626  9.20
2   신과함께 -죄와 벌   2017  1441  8.73
3         국제시장   2014  1425  9.16
4          베테랑   2015  1341  9.24
5           괴물   2006  1301  8.62
6          도둑들   2012  1298  7.64
7      7번방의 선물   2013  1281  8.83
8           암살   2015  1270  9.10
9  광해, 왕이 된 남자   2012  1231  9.25

### 1) 영화 데이터를 활용하여 x 축은 영화명,  y축은 평점인 막대 그래프 작성

### 2) 앞에서 작성한 막대 그래프에 아래에 제시된 세부 사항을 적용하기

- 제목 : 국내 Top10 영화 평점 정보
- x 축 label : 영화(90도 회전)
- y 축 label : 평점

### 3) 개봉 연도별 평점 변화 추이를 꺽은선 그래프로 작성하기
- 연도별 평균 데이터를 구한 후 그래프 작성

### 4) 앞에서 만든 그래프에 제시된 세부 사항을 적용하시오

- marker : 'o'
- x축 눈금 : 5년 단위(2005, 2010, 2015, 2020)
- y축 범위 : 최소 7, 최대 10

### 5) 평점이 9점 이상인 영화의 비율을 확인할 수 있는 원 그래프 작성하고 세부사항을 적용하시오

- label : 9점이상 / 9점 미만
- 퍼센트 : 소수점 첫째 자리까지 표시
- 범례 : 그래프 우측에 표시