### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## 데이터 타입

### 1.Series(https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

<img src="https://bites-data.s3.us-east-2.amazonaws.com/series_spreadsheet.png" width="300" height="200">

In [1]:
import pandas as pd
import numpy as np

### 생성

#### 1) 리스트

 * index 를 별도로 지정하지 않을경우 0, 1, 2 ... 순으로 지정된다

In [4]:
list1 = [70,80,90]

series1 = pd.Series(list1)
series1

0    70
1    80
2    90
dtype: int64

In [12]:
series1 = pd.Series(list1, index=["국어","영어","수학"])
series1

국어    70
영어    80
수학    90
dtype: int64

#### 2) 딕셔너리

* Dictionary 의 Key 값이 Index 로 들어간다

In [6]:
dict1 = {"a" : 1, "b" : 2, "c" : 3}

series1 = pd.Series(dict1)
series1

a    1
b    2
c    3
dtype: int64

#### 3) ndarray

In [8]:
series1 = pd.Series(np.random.randn(4), index=list("abcd"))
series1

a   -1.183122
b   -0.252809
c    1.190372
d    1.029514
dtype: float64

#### 4) DataFrame 이용

In [9]:
df = pd.DataFrame({"a":[1,2,3,4], "b":[5,6,7,8]})
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [18]:
series1 = pd.Series(df['b'])
series1

0    5
1    6
2    7
3    8
Name: b, dtype: int64

### 조회

In [20]:
series1 = pd.Series(list1, index=["국어","영어","수학"])
series1

국어    70
영어    80
수학    90
dtype: int64

#### 1) index 조회

In [14]:
series1.index

Index(['국어', '영어', '수학'], dtype='object')

#### 2) values 조회

In [15]:
series1.values

array([70, 80, 90], dtype=int64)

#### 3) name 조회

In [21]:
# name 부여
series1 = series1.rename("점수")

In [22]:
series1.name

'점수'

#### 4) 전체 조회

In [23]:
series1

국어    70
영어    80
수학    90
Name: 점수, dtype: int64

#### 5) 인덱싱 가능 (인덱스 번호 혹은 라벨명)

In [24]:
series1[0] # 인덱스에 별칭을 부여했으나, 번호로도 조회 가능하다

70

In [25]:
series1['국어']

70

In [32]:
series1[[0,2]]

국어    70
수학    90
Name: 점수, dtype: int64

In [34]:
series1[[True, False, True]]

국어    70
수학    90
Name: 점수, dtype: int64

In [35]:
series1[0:2]

국어    70
영어    80
Name: 점수, dtype: int64

#### 6) 전체 구조 파악

In [37]:
series1.shape

(3,)

In [39]:
series1.head(2) # 위에서부터 최대 5개 가져옴

국어    70
영어    80
Name: 점수, dtype: int64

In [41]:
series1.tail(2) # 밑에서부터 최대 5개 가져옴

영어    80
수학    90
Name: 점수, dtype: int64

### 수정
><b>index 수정</b>

In [42]:
series1.index = ["미술", "음악", "체육"]
series1

미술    70
음악    80
체육    90
Name: 점수, dtype: int64

><b>특정 값 수정</b>

In [45]:
series1["음악"] = 85 # series1[1] : 인덱스로도 가능
series1

미술    70
음악    85
체육    90
Name: 점수, dtype: int64

><b>데이터 타입 변경 - astype('dataType')</b>

In [54]:
series1 = pd.Series([1,1,1], dtype="int32")
series1

0    1
1    1
2    1
dtype: int32

In [55]:
series1 = series1.astype('float') # 원본이 변경되는 것은 아니며, 변경된 Series 를 반환 해준다
series1

0    1.0
1    1.0
2    1.0
dtype: float64

**astype 사용 시 주의점 : 변경할 수 없는 데이터가 들어있는 경우**

In [56]:
series1 = pd.Series(["1.1", "2.2", "3.3"])
series1

0    1.1
1    2.2
2    3.3
dtype: object

In [59]:
series1 = series1.astype('float') # 가능
# series1.astype('int') # 불가능

series1.astype('int') #

0    1
1    2
2    3
dtype: int32

### 삭제
><b>특정 행 삭제</b>

In [62]:
series1 = pd.Series(list1, index=["국어", "수학", "영어"])
series1

국어    70
수학    80
영어    90
dtype: int64

In [63]:
del series1['영어']

In [64]:
series1

국어    70
수학    80
dtype: int64