### [실습1]

#### 1) 라이브러리 로드

In [1]:
import pandas as pd
import numpy as np

#### 2) 아래와 같은 데이터프레임 생성

In [43]:
dict = {
    "홍길동":[88,75,95],
    "강감찬":[82,62,85],
    "김종민":[75,69,70],
    "임창정":[45,56,80]
}
df = pd.DataFrame(dict, index=["java","python","basic"])
df

        홍길동  강감찬  김종민  임창정
java     88   82   75   45
python   75   62   69   56
basic    95   85   70   80

#### 3) 홍길동 학생의 과목별 점수 출력

In [28]:
df["홍길동"]

java      88
python    75
sql       70
Name: 홍길동, dtype: int64

#### 4) 모든 학생들의 python 과목의 점수 출력

In [44]:
#  df[1:2]
df.loc["python"]

홍길동    75
강감찬    62
김종민    69
임창정    56
Name: python, dtype: int64

#### 5) basic 점수를 삭제

In [20]:
df.drop("basic", inplace=True)

#### 6) sql 과목의 점수 추가 : [70,85,86,92]

In [26]:
df.loc["sql"] = [70,85,86,92]
df

        홍길동  강감찬  김종민  임창정
java     88   82   75   45
python   75   62   69   56
sql      70   85   86   92

### [실습2]

#### 1) 아래와 같은 데이터프레임 생성

In [45]:
dict = {
    "미국":[2.1,2.2,2.3],
    "한국":[0.40,0.50,0.45],
    "중국":[10,13,15]
}

df = pd.DataFrame(dict)
df

    미국    한국  중국
0  2.1  0.40  10
1  2.2  0.50  13
2  2.3  0.45  15

#### 2) 인덱스를 넣어서 아래와 같은 데이터프레임 생성

In [46]:
df.index = [2019, 2020, 2021]
df

       미국    한국  중국
2019  2.1  0.40  10
2020  2.2  0.50  13
2021  2.3  0.45  15

#### 3) 인덱스 조회

In [47]:
df.index

Int64Index([2019, 2020, 2021], dtype='int64')

#### 4) 컬럼명 조회

In [48]:
df.columns

Index(['미국', '한국', '중국'], dtype='object')

#### 5) 전체 값들만 조회

In [49]:
df.values

array([[ 2.1 ,  0.4 , 10.  ],
       [ 2.2 ,  0.5 , 13.  ],
       [ 2.3 ,  0.45, 15.  ]])

#### 6) 미국 컬럼 조회

In [50]:
df['미국']

2019    2.1
2020    2.2
2021    2.3
Name: 미국, dtype: float64

#### 7) 일본 컬럼 추가 : [3,4,5]

In [51]:
# df["일본"] = [3,4,5]
df.insert(3, '일본', [3,4,5])
df

       미국    한국  중국  일본
2019  2.1  0.40  10   3
2020  2.2  0.50  13   4
2021  2.3  0.45  15   5