### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

#### 1. 라이브러리 로드

#### 2. sample.xlsx

#### 1) 데이터 프레임 생성

#### 2) 앞 쪽의 5행 조회

#### 3) 뒤 쪽의 3행 조회

#### 4) 금월 컬럼에서 값이 큰 3개 행 조회

#### 5) 전월 컬럼에서 값이 가장 작은 5개 행 조회

#### 6) 총 판매수량이 250보다 큰 대리점 추출

#### 7) 행 전체를 포함하고, 컬럼은 대리점, 영업사원, 금월 추출

#### 8) loc 이용 : sample_df 에서 2, 4번 인덱스를 가진 행 추출

#### 9) iloc 이용 : sample_df 에서 2, 4번 인덱스를 가진 행 추출

#### 10) loc 이용 : sample_df 에서 3, 4, 5번 인덱스를 가진 행 추출(대리점,영업사원,총 판매수량 컬럼만)

#### 11) 전체 행 추출 : 전월,금월 컬럼만(앞쪽 데이터 5개만 보여주기)

#### 12)  filter 를 이용하여 컬럼명에 "월"이 들어간 컬럼을 추출하기

#### 3. train.xlsx

#### 1) 데이터 프레임 생성

#### 2) 앞 쪽의 데이터 5개 조회

#### 3) 뒤 쪽의 데이터 5개 조회

#### 4) Fare 컬럼 값이 가장 큰 4개 행 조회

#### 5) Age 컬럼 값이 가장 작은 3개 행 조회