### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

In [ ]:
%%html
<style>
table {
    width:400px;
    float:left}
</style>

### 인덱싱 적용 방법

|적용방법|구문|결과타입|
|:---|:---:|:---:|
|열선택|df[col]|Series|
|라벨로 행 선택|df.loc[label]|Series|
|정수 위치로 행 선택|df.iloc[loc]|Series|
|행 슬라이스|df[5:10]|DataFrame|
|불리언 벡터로 행 선택|df[bool_vec]|DataFrame|

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns # 데이터 시각화와 관련된 라이브러리

In [2]:
friend_dict = [
    {
        "name":"John",
        "age":25,
        "job":"student"
    },
    {
        "name":"Nate",
        "age":34,
        "job":"teacher"
    },
    {
        "name":"Jenny",
        "age":30,
        "job":"developer"
    }
]
friend_df = pd.DataFrame(friend_dict)
friend_df

    name  age        job
0   John   25    student
1   Nate   34    teacher
2  Jenny   30  developer

### rows, columns 기준 ( 중요 ! )

#### loc[]
- 5 또는 a 와 같은 단일 라벨
- ['a','b','c']와 같은 리스트나 라벨의 배열
- a:f 와 같이 라벨이 있는 처음과 끝의 범위를 포함하는 슬라이스 객체
- [True, False, True]와 같이 슬라이싱할 축과 같은 길이의 불리언 배열
- 호출하는 시리즈나 데이터 프레임을 인수로 가지는 호출 함수

#### iloc[]
- 정수
- [4,3,0] 과 같은 리스트나 정수들의 배열
- 1:7 과 같은 정숫값을 가지는 슬라이스 객체
- 불리언 배열
- 호출하는 시리즈나 데이터프레임을 인수로 가지는 호출 함수

><b>df.iloc[ ] : 행, 열 모두 position 값을 이용(integer 값)</b>

In [3]:
friend_df.iloc[0] # Series

name       John
age          25
job     student
Name: 0, dtype: object

In [6]:
friend_df.iloc[0:1] # ≒ 슬라이싱 : DataFrame

   name  age      job
0  John   25  student

In [7]:
friend_df.iloc[1:]

    name  age        job
1   Nate   34    teacher
2  Jenny   30  developer

***

In [10]:
iris_df = sns.load_dataset('iris') # iris : 붗꽃
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [11]:
iris_df.iloc[10:20]

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

In [18]:
# 열 추출 : iloc[행 슬라이싱, 열 슬라이싱]
iris_df.iloc[1:5, 1:3]

   sepal_width  petal_length
1          3.0           1.4
2          3.2           1.3
3          3.1           1.5
4          3.6           1.4

In [19]:
# 행 전체, 1 ~ 3 열
iris_df.iloc[0:, 1:4]

     sepal_width  petal_length  petal_width
0            3.5           1.4          0.2
1            3.0           1.4          0.2
2            3.2           1.3          0.2
3            3.1           1.5          0.2
4            3.6           1.4          0.2
..           ...           ...          ...
145          3.0           5.2          2.3
146          2.5           5.0          1.9
147          3.0           5.2          2.0
148          3.4           5.4          2.3
149          3.0           5.1          1.8

[150 rows x 3 columns]

><b>df.loc[ ] : 행, 열의 label 값을 이용하거나, boolean 이용 / 마지막 값 포함</b>

> **total 연습**

#### 3) filter(items=None, like=None, regex=None, axis=None)
```
행 또는 열의 부분 집합 지정
```

**[실습] friend_df**

**1) 2번 인덱스 레이블 이용**

**2) 0,2번 인덱스 레이블 이용**

**3) 0,2번 행을 대상으로 name, job 컬럼만 가져오기**

**4) iloc 이용 : 0번 행 가져오기**

**5) iloc 이용 : 1번 행의 0번 칼럼의 값 가져오기**

**6) iloc 이용 : 0,1번 행 가져오기**

**7) iloc 이용 : 0,1번 행의 0번 칼럼 가져오기**

**8) iloc 이용 : 0.1번 행의 0,1번 칼럼 가져오기**

**9) iloc 이용 : 특정 값 수정 - nate 이름 변경하기**

**10) loc 이용 : 행 추가**

#### 11) filter 이용

**[실습] student_df**

**1) loc 사용해서 2번 행 가져오기**

**2) loc 사용해서 1번 행의 수학 점수 가져오기**

**3) loc 사용해서 전체 행의 수학 점수 가져오기**

#### 4) 특정 행 조회

**[실습] month_df**

**1) loc 사용해서 2월 행 가져오기**

**2) loc 사용해서 전체 행의 영어 컬럼 가져오기**

**3) loc 사용해서 2월~3월행의 전체 컬럼 가져오기**

**4) iloc 사용해서 2월~3월행의 전체 컬럼 가져오기**