### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

### [실습1]

In [2]:
mpg_df = sns.load_dataset('mpg')
mpg_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [3]:
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

### 3) sort_values()

In [4]:
mpg_df.sort_values('mpg')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
...,...,...,...,...,...,...,...,...,...
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc

In [5]:
mpg_df.sort_values('mpg', ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
...,...,...,...,...,...,...,...,...,...
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d

### 4) rename

In [6]:
mpg_df.rename(columns={'model_year':'year'}) # inplace 설정 필요

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

### 5) reset_index() : index 를 컬럼으로 만들기(앞에서 사용함)

In [8]:
mpg_df.sort_values('mpg', ascending=False).reset_index()

,index,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
1,329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
2,325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
3,394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
4,326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
...,...,...,...,...,...,...,...,...,...,...
393,103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
394,67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
395,25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
396,26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
397,28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d

### 6) sort_index() : index 를 기준으로 정렬하기

In [9]:
mpg_df.sort_index()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

### 7) drop(columns = ['','','']) : 괄호 안에 있는 컬럼 삭제 / drop(["",""],axis=1)

In [11]:
mpg_df.drop(columns=["mpg", "model_year"], axis=1)

,cylinders,displacement,horsepower,weight,acceleration,origin,name
0,8,307.0,130.0,3504,12.0,usa,chevrolet chevelle malibu
1,8,350.0,165.0,3693,11.5,usa,buick skylark 320
2,8,318.0,150.0,3436,11.0,usa,plymouth satellite
3,8,304.0,150.0,3433,12.0,usa,amc rebel sst
4,8,302.0,140.0,3449,10.5,usa,ford torino
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,usa,ford mustang gl
394,4,97.0,52.0,2130,24.6,europe,vw pickup
395,4,135.0,84.0,2295,11.6,usa,dodge rampage
396,4,120.0,79.0,2625,18.6,usa,ford ranger
397,4,119.0,82.0,2720,19.4,usa,chevy s-10

### [실습2]

In [28]:
df = pd.DataFrame({
    "연도" : [2019,2020,2021],
    "미국" : [2.1,2.2,2.3],
    "한국" : [0.4,0.5,0.45],
    "중국" : [10,13,15]
})
df

     연도   미국    한국  중국
0  2019  2.1  0.40  10
1  2020  2.2  0.50  13
2  2021  2.3  0.45  15

### 1) 인덱스 생성

In [23]:
df.set_index("연도", inplace=True)
df

       미국    한국  중국
연도
2019  2.1  0.40  10
2020  2.2  0.50  13
2021  2.3  0.45  15

### 2) 인덱스 제거

In [24]:
df.reset_index(inplace=True)
df

     연도   미국    한국  중국
0  2019  2.1  0.40  10
1  2020  2.2  0.50  13
2  2021  2.3  0.45  15

### 3) 컬럼명 변경 ( 중국 > 홍콩 )

In [29]:
df.rename(columns={"중국" : "홍콩"}, inplace=True)
df

     연도   미국    한국  홍콩
0  2019  2.1  0.40  10
1  2020  2.2  0.50  13
2  2021  2.3  0.45  15