### [퀴즈1]
#### [문제] 다음은 대한민국 영화 중에서 관객 수가 가장 많은 상위 10 개의 데이터입니다.
#### 주어진 코드를 이용하여 퀴즈를 풀어보세요

            영화  개봉 연도  관객 수    평점
0           명량   2014  1761  8.88
1         극한직업   2019  1626  9.20
2   신과함께 -죄와 벌   2017  1441  8.73
3         국제시장   2014  1425  9.16
4          베테랑   2015  1341  9.24
5           괴물   2006  1301  8.62
6          도둑들   2012  1298  7.64
7      7번방의 선물   2013  1281  8.83
8           암살   2015  1270  9.10
9  광해, 왕이 된 남자   2012  1231  9.25

#### 1) 전체 데이터 중에서 '영화' 정보만 출력하기

#### 2) 전체 데이터 중에서 '영화','평점' 정보 출력하기

#### 3) 2015년 이후에 개봉한 영화 데이터 중에서 '영화','개봉연도' 정보만 출력하기

#### 4) 주어진 계산식을 참고하여 '추천점수' 컬럼 추가
> 추천점수 = (관객수 * 평점) // 100

#### 5) 전체 데이터를 '개봉 연도' 기준 내림차순으로 출력하기

### [퀴즈2]

#### 1) 현재 생성된 데이터프레임의 전체 정보 출력

#### 2) 타입 변경
- age 컬럼을 이용하여 age_1 컬럼을 생성하고 타입은 int64로 변경

### [퀴즈3]

#### 1) 컬럼명 변경 : 국어,영어,수학,과학

#### 2) 중복 행 제거한 후 새로운 데이터프레임(df2)으로 저장

#### 3) 특정 컬럼값이 중복되면 제거

### [퀴즈4]

#### 1) data/shop/olist_customers_dataset.csv 파일 dataframe 생성 (데이터프레임 변수 이름은 customer 로  지정)

#### 2) 처음 5개 행 확인

#### 3) 전체 record 수(행 수) 확인하기

#### 4) 전체 정보 확인하기

#### 5) 전체 컬럼명 확인

#### 6) 인덱스 확인

#### 7) 기술통계요약 정보 확인

#### 8) customer_zip_code_prefix, customer_city, customer_state 컬럼만 가져와서 데이터 프레임 생성 (데이터프레임 변수 이름은 customer2로 하기로 함)

#### 9)  customer_city 가 sao paulo 인 레코드(행)만 가져와서 데이터프레임 생성(변수 이름은 customer3 으로 지정)
- 레코드(행) 수 확인도 해보기

#### 10) customer2 에서 도시별 고유 값들의 수를 확인하기

#### 11) customer 데이터프레임에서 customer_city 기준으로 행의 갯수를 확인
1. 새로운 데이터프레임 변수 이름은 customer4로 지정

#### 12) customer4에서 가장 레코드(행)의 수가 많은 customer_city 를 확인해보세요
1. customer4의 customer_id 를 기준으로 정렬하고, 가장 상단의 한 행만 출력하기

#### 13) customer 에서 customer_city 를 인덱스로 만들고, 알파벳 순으로 인덱스를 정렬해보세요

#### 14) customer2에서 customer_state 기준으로 행의 갯수를 확인해보세요
- value_counts()

#### 15) customer2에서 customer_state 갯수 확인

#### 16) customer4에서 customer_id 갯수가 1000개 이상인 정보 추출하기

#### 17) customer4에서 customer_city 갯수가 1000개 이상인 customer_city 이름을 확인해보세요

#### 18) customer에서 결측치가 각 컬럼에 있는지 확인

#### 19) customer에서 중복된 customer_city 를 가진 행을 삭제한 후, customer_city 이름만 가져와보세요

### [퀴즈4]

#### 1) data/covid/04-01-2020.csv 파일 dataframe 생성 (데이터프레임 변수 이름은 covid_df 로  지정)

#### 2) covid_df 에서 중복된 Country_Region 각각에 대해 Confirmed 를 모두 더한 값을 컬럼으로 갖는 데이터프레임을 피봇테이블 작성

#### 3) covid_df 에서 중복된 Country_Region 각각에 대해 Confirmed 를 모두 더한 값을 컬럼으로 갖는 데이터프레임을 피봇테이블로  만들고, 총 값을 'Total' 을 인덱스 값으로 하는 record 로 추가하세요
- 결측치는 0으로 처리