### 멜론, 벅스, 지니 음악 순위 크롤링
* 각 음악 사이트의 크롤링 정보를 엑셀로 저장
* 저장된 정보를 읽어온 후 3개의 데이터 합치기

#### selenium 라이브러리 import

In [7]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time

In [34]:
import pandas as pd

In [8]:
url = "https://www.melon.com/chart/index.htm"

In [17]:
browser = webdriver.Chrome('../../chromedriver')
browser.get(url)

time.sleep(2)

soup = BeautifulSoup(browser.page_source, 'lxml')

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_3716\4293136720.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome('../../chromedriver')

### Melon 음악정보 가져오기 ( 순위, 가수명, 가수이름 )

In [35]:
ranking50 = soup.select("#lst50")
ranking100 = soup.select("#lst100")

melon_list = []
for rank in ranking50:
    r = rank.select_one('span.rank').get_text()
    s = rank.select_one('div.rank02 > a').get_text()
    t = rank.select_one('div.rank01 > span > a').get_text()
    melon_list.append({"서비스":"멜론", "순위":r, "타이틀":t, "가수":s})

for rank in ranking100:
    r = rank.select_one('span.rank').get_text()
    s = rank.select_one('div.rank02 > a').get_text()
    t = rank.select_one('div.rank01 > span > a').get_text()
    melon_list.append({"서비스":"멜론", "순위":r, "타이틀":t, "가수":s})

### 크롤링 결과 엑셀 저장

In [36]:
columns = ['서비스', '순위', '타이틀', '가수']

df = pd.DataFrame(melon_list, columns=columns)
df.head()

  서비스 순위                                    타이틀                 가수
0  멜론  1                              LOVE DIVE          IVE (아이브)
1  멜론  2  That That (prod. & feat. SUGA of BTS)           싸이 (PSY)
2  멜론  3                                 TOMBOY            (여자)아이들
3  멜론  4                   정이라고 하자 (Feat. 10CM)  BIG Naughty (서동현)
4  멜론  5                                 사랑인가 봐               멜로망스

In [37]:
df.to_excel("../../data/dataset/melon.xlsx")