### 멜론, 벅스, 지니 음악 순위 크롤링
* 각 음악 사이트의 크롤링 정보를 엑셀로 저장
* 저장된 정보를 읽어온 후 3개의 데이터 합치기

#### selenium 라이브러리 import

In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import time

In [5]:
import pandas as pd

### Genie 음악정보 가져오기 ( 순위, 가수명, 가수이름 )

In [6]:
genie_list = []

In [22]:
for page in range(1, 3):
    url = "https://www.genie.co.kr/chart/top200?ditc=D&ymd=20220705&hh=09&rtm=Y&pg=" + str(page)
    browser = webdriver.Chrome('../../chromedriver')
    browser.get(url)

    time.sleep(2)

    soup = BeautifulSoup(browser.page_source, 'lxml')
    
    ranking = soup.select("table.list-wrap > tbody > tr")

    for rank in ranking :
        r = rank.select_one("td.number").get_text()
        s = rank.select_one("a.artist").get_text()
        t = rank.select_one("a.title").get_text()
        if str.strip(t[:4]) == "19금":
            t = t[4:]

        genie_list.append({"서비스":"지니", "순위":str.strip(r[0:5]), "타이틀":str.strip(t), "가수":str.strip(s)})
    
    del soup

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_17860\3771271692.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome('../../chromedriver')

In [24]:
columns = ['서비스', '순위', '타이틀', '가수']

df = pd.DataFrame(genie_list, columns=columns)
df.head()

  서비스 순위                                    타이틀                가수
0  지니  1                              LOVE DIVE         IVE (아이브)
1  지니  2  That That (Prod. & Feat. SUGA of BTS)          싸이 (Psy)
2  지니  3                                 TOMBOY           (여자)아이들
3  지니  4                                   POP!        나연 (TWICE)
4  지니  5                                 사랑인가 봐  멜로망스 (MeloMance)

In [25]:
df.to_excel("../../data/dataset/genie.xlsx", index=False)