### 수집된 음악 파일 통합

1. 세 개의 엑셀 파일을 읽어와서 하나의 데이터 프레임으로 생성

In [1]:
import pandas as pd

In [3]:
excel_files = ["../../data/dataset/melon.xlsx", "../../data/dataset/bugs.xlsx", "../../data/dataset/genie.xlsx"]

music_df = pd.DataFrame()

for file in excel_files :
    music = pd.read_excel(file)
    # DataFrame 연결
    music_df = pd.concat([music_df, music])

In [6]:
music_df.head()

  서비스  순위                                    타이틀                 가수
0  멜론   1                              LOVE DIVE          IVE (아이브)
1  멜론   2  That That (prod. & feat. SUGA of BTS)           싸이 (PSY)
2  멜론   3                                 TOMBOY            (여자)아이들
3  멜론   4                                   POP!         나연 (TWICE)
4  멜론   5                   정이라고 하자 (Feat. 10CM)  BIG Naughty (서동현)

In [7]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   서비스     300 non-null    object
 1   순위      300 non-null    int64
 2   타이틀     300 non-null    object
 3   가수      300 non-null    object
dtypes: int64(1), object(3)
memory usage: 11.7+ KB

In [8]:
music_df.to_excel("../../data/dataset/total.xlsx", index=False)